<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chess-master-ultimate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF2F33C62DD72DA300D815A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF2F33D72DD72DA400D815A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF2F33E12DD72DA400D815A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
